.AddedComment {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-grey-2);

  textarea {
    width: 100%;
    min-height: 65px;
    max-height: 150px;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 4px;
    resize: vertical;
    outline:none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.44), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--color-grey-1);

    &:focus {
      border-color: var(--color-black-1)
    }
  }

  button {
    position: relative;
    padding: 15px 60px;
    background-color: var(--color-yellow);
    border: 2px solid var(--color-yellow);
    border-radius: 30px;
    outline:none;
    transition: all 500ms ease;

    &:hover {
      color: var(--color-white);
      border: 2px solid var(--color-yellow);
      background: var(--color-black-1);
      transition: all 500ms ease;
    }
  }
}